# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/
*.xcodeproj/project.xcworkspace/xcuserdata/
DerivedData/
build/
*.pbxuser
*.perspectivev3
*.mode1v3
*.mode2v3
*.xccheckout
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# SPM
.build/
.swiftpm/
Packages/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# CocoaPods (not used but good to have)
Pods/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Misc
*.swp
*.swo
*~
.env
